CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#ignore JSON files
*.json
*.iml
*.xml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug-mingw/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-debug/ChessFish4
/cmake-build-release/ChessFish4
/cmake-build-debug/ChessFish4.cbp
/cmake-build-release/ChessFish4.cbp
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug-mingw/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug-mingw/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug-mingw/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
